In [1]:
import pandas as pd
print(pd.__version__)

2.0.3

In [10]:
df = pd.read_csv('./Iris_error.csv')
df.head()

    1            5.1           3.5            1.4           0.2   Iris-error
0   2            4.9           3.0            1.4           0.2   Iris-error
1  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   1            5.1           3.5            1.4           0.2  Iris-setosa
3   2            4.9           3.0            1.4           0.2  Iris-setosa
4   3            4.7           3.2            1.3           0.2   Iris-error

In [11]:
df = pd.read_csv('./iris_error.csv', header=2, skiprows=[5,6])
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   5            5.0           3.6            1.4           0.2  Iris-setosa
3   6            5.4           3.9            1.7           0.4  Iris-setosa
4   7            4.6           3.4            1.4           0.3  Iris-setosa

In [12]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.6
3           3.9
4           3.4

In [13]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.6
3           3.9
4           3.4

In [14]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.4
3           0.4            1.7
4           0.3            1.4

In [15]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.4
3           0.4            1.7
4           0.3            1.4